<%- include('include/_header') %>


    <main class="masthead">
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center ">
                <div class="col-10 col-md-8 col-lg-6 ">
                    <form action="/weather" method="post" class="form-inline ">
                        <div class="form-group row mb-2 ">
                            <div class="col-10">
                                <input type="text" class="form-control" name="cityName" placeholder="Search for a city">
                            </div>

                            <div class="col">
                                <button type="submit" class="btn btn-primary button">Submit</button>
                            </div>


                    </form>
                </div>
            </div>




        </div>

    </main>

    <%- include('include/_about_app') %> 


    
    <%- include('include/_footer') %>